@media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px
    }
}

.primary-color,
.theme-color,
a:focus,
a:hover,
a:active {
    color: #84c951
}

.primary-bg,
.theme-bg {
    background-color: #84c951
}

.service-style-classic-pro .post-details-outer:before {
    background: linear-gradient(to right, #84c951, 184 151 128 / 6%)
}

.border-shape-top:before,
.border-shape-top-left:before {
    background: radial-gradient(at center center, #ffffff0d 0, #84c951 100%) !important
}

.border-shape-top:after,
.border-shape-top-left:after {
    background: linear-gradient(to top, #84c951 0, rgb(58 123 213 / 0))
}

.team-wrapper.team-style-default .team-inner:after,
.testimonial-style-default .testimonial-inner:before {
    background: linear-gradient(to bottom, rgba(132, 201, 81, 0.30), rgb(58 123 213 / 0))
}

.service-style-default .service-inner:hover:before {
    background: linear-gradient(to left, #84c951, rgb(58 123 213 / 0))
}

ul.nav.wp-menu>li>a:before {
    background: linear-gradient(to right, #84c951, rgb(184 151 128 / 6%))
}

.section-title-wrapper span.elementor-divider-separator {
    border-image: linear-gradient(to right, #84c951, rgb(58 123 213 / 0));
    border-image-slice: 1
}

.service-style-classic-pro .post-details-outer:before {
    background: linear-gradient(to right, #84c951, rgb(58 123 213 / 0))
}

.rtl .section-title-wrapper span.elementor-divider-separator {
    border-image: linear-gradient(to left, #84c951, rgb(58 123 213 / 0));
    border-image-slice: 1
}

aside.footer-widget-2 h5:before,
.widget .widgettitle:before,
.widget .widget-title:before,
.widget-area-right .wp-block-group__inner-container h1:before,
.widget-area-right .wp-block-group__inner-container h2:before,
.widget-area-right .wp-block-group__inner-container h3:before,
.widget-area-right .wp-block-group__inner-container h4:before,
.widget-area-right .wp-block-group__inner-container h5:before,
.widget-area-right .wp-block-group__inner-container h6:before,
.widget-area-left .widget .widget-title:before {
    border-color: #84c951
}

.calendar_wrap th,
tfoot td,
.elementor-widget-container.feature-box-wrapper.feature-box-classic:after,
ul[id^="nv-primary-navigation"] li.button.button-primary>a,
.menu li.button.button-primary>a,
span.animate-bubble-box:after,
span.animate-bubble-box:before,
.owl-dots button.owl-dot.active,
.team-style-classic-pro .team-social-wrap ul.social-icons>li>a,
.pagination-single-inner>h6>a span.arrow,
::selection,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.content-widgets .widget .menu-service-sidebar-menu-container ul>li.current-menu-item>a,
.content-widgets .widget .menu-service-sidebar-menu-container ul>li>a:after,
.explug-masonry .top-meta-wrap,
.comments-pagination.pagination .page-numbers.current,
.blog-wrapper.blog-style-default .blog-inner .post-date a,
.portfolio-meta ul.nav.social-icons>li>a:hover,
span.cea-popup-modal-dismiss.ti-close,
blockquote:after,
.wp-block-quote.is-large:after,
.wp-block-quote.is-style-large:after,
.wp-block-quote.is-style-large:not(.is-style-plain):after,
.wp-block-quote.has-text-align-right:after,
.wp-block-quote:after,
nav.post-nav-links .post-page-numbers.current,
blockquote cite::before,
.single-post .comments-wrapper.section-inner input.submit,
.page .comments-wrapper.section-inner input.submit,
.widget-area-right .widget p.wp-block-tag-cloud a.tag-cloud-link:hover,
.widget .tagcloud>a:hover,
.widget .tagcloud>a:focus,
.widget .tagcloud>a:active,
.section-title-wrapper.title-theme .title-wrap>*.sub-title:after,
.team-style-default .team-inner .post-overlay-items>.team-social-wrap,
.blog-wrapper.blog-style-default .blog-inner .post-date a,
.cea-tab-elementor-widget.tab-style-2.cea-vertical-tab a.nav-item.nav-link:before,
.portfolio-single .portfolio-video.post-video-wrap .video-play-icon,
.portfolio-wrapper.portfolio-style-default .isotope-filter ul.nav li a:before,
.isotope-filter ul.nav.m-auto.d-block li.active a,
.call-us-team a.cea-button-link:hover,
.call-us-team a.cea-button-link span.cea-button-num,
.header-navbar .cea-button-link.elementor-size-sm.elementor-button,
.cea-button-link.elementor-size-sm:hover .cea-button-icon,
.header-sticky .header-navbar .cea-button-link.elementor-size-sm:hover .cea-button-icon,
blockquote:before,
.wp-block-quote.is-large:before,
.wp-block-quote.is-style-large:before,
.wp-block-quote.is-style-large:not(.is-style-plain):before,
.wp-block-quote.has-text-align-right:before,
.wp-block-quote:before,
.single-post .top-meta-wrap ul.nav.post-meta li.post-date a,
.single-post .top-meta-wrap:first-child ul.nav.post-meta li.post-date a,
.content-widgets .widget .menu-service-sidebar-menu-container ul>li>a:hover,
.single-post ul.nav.post-meta>li.post-category:before,
.team-wrapper.team-style-default .team-inner .social-icons>li>a,
.elementor-widget-ceaposts .blog-style-classic-pro .blog-inner .post-date a,
.widget-area-left .contact-widget-info>p>span.bi,
.widget-area-right .contact-widget-info>p>span.bi,
.row.portfolio-details .col-sm-4>.portfolio-meta span.portfolio-meta-icon,
.portfolio-single .portfolio-sub-title,
.testimonial-wrapper.testimonial-style-default .owl-item .testimonial-inner:hover:before,
.feature-box-style-5 .feature-box-wrapper .fbox-number,
.service-style-classic-pro .post-details-outer .service-icon-img-wrap,
.primary-menu li.current-menu-parent>ul.sub-menu>li.current-menu-item>a:before,
.text-left .feature-box-classic .feature-box-title:after,
.section-title-wrapper .title-wrap>*.sub-title .subtitle-dots:before,
.team-wrapper.team-style-default .team-designation:after,
.timeline>li>.timeline-sep-title:after,
.single-cea-team .team-info>*.team-title span.team-designation:after,
.widget-service-button a,
.sidebar-broucher .icon-box a:hover,
.portfolio-style-default .portfolio-inner .post-thumb:after,
p.quote-author:after,
.elementor-widget-ceaposts .blog-wrapper.blog-style-list .blog-inner .post-date a,
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce ul.products li.product .button,
a.explug-toggle>span:before,
.testimonial-wrapper.testimonial-style-classic .testimonial-designation:before,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce button.button:disabled[disabled],
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce button.button,
.insta-footer-wrap>*.container,
aside.footer-widget-2 h5:after,
.widget .widgettitle:after,
.widget .widget-title:after,
.wp-block-group__inner-container h1:after,
.wp-block-group__inner-container h2:after,
.wp-block-group__inner-container h3:after,
.wp-block-group__inner-container h4:after,
.wp-block-group__inner-container h5:after,
.wp-block-group__inner-container h6:after {
    background-color: #84c951
}

.theme-color-bg,
.icon-theme-color-bg,
.flip-box-wrapper:hover .icon-theme-hcolor-bg,
.contact-info-style-classic-pro .contact-info-title,
.contact-info-wrapper.contact-info-style-classic:before,
.testimonial-wrapper.testimonial-style-modern .testimonial-inner:after,
.isotope-filter ul.nav li.active a:after,
.isotope-filter ul.nav li a:after,
.blog-wrapper.blog-style-modern .blog-inner .top-meta .post-category,
.blog-wrapper .post-overlay-items .post-date a,
.event-style-classic .top-meta .post-date,
.blog-layouts-wrapper .post-overlay-items .post-date a,
.portfolio-content-wrap .portfolio-title h3,
.custom-post-nav a,
.service-style-classic .entry-title:after,
.service-style-classic .entry-title:before,
.team-style-default .team-inner .post-overlay-items>.team-social-wrap>ul,
.team-style-default .team-inner:hover .post-overlay-items>.team-social-wrap,
.back-to-top:after,
.portfolio-style-classic .post-thumb.post-overlay-active:after,
.elementor-widget-container.feature-box-wrapper.feature-box-classic:after,
h2.we-stand__top-title,
span.zozo-product-favoured {
    background-color: #84c951 !important
}

.full-search-wrapper .search-form .input-group .btn:hover,
.testimonial-style-list .testimonial-inner:after,
.team-details-icon,
ul.nav.post-meta>li span,
.comment-metadata time,
.comments-wrap span:before,
.comment-body .reply a.comment-reply-link,
.blog .explug-masonry .post-meta .post-more a,
.explug-masonry .bottom-meta-wrap .post-meta .post-more a .widget.widget_nav_menu li a:before,
.explug-masonry>article .top-meta-wrap a,
h2.entry-title a:hover,
.woocommerce-message::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
ul.pricing-features-list.list-group li:before,
.doc-icon,
p.quote-author,
.feature-box-wrapper .fbox-content a:hover,
ul.nav.post-meta>li.post-tag>a:hover,
blockquote cite,
.wp-block-quote cite,
.wp-block-quote footer,
.bottom-meta-wrap ul.nav.post-meta>li.post-date a:hover,
.single-post .top-meta-wrap ul.nav.post-meta li a:hover,
.cus-img-menu .menu-item .widget .wp-block-image:hover figcaption a,
.single-post blockquote cite,
.single-post blockquote cite a,
.content-widgets-wrapper .widget_categories ul li a:before,
.content-widgets-wrapper .widget_archive ul li a:before,
.content-widgets-wrapper .wp-block-categories li a:before,
footer button.input-group-addon.zozo-mc.btn.btn-default,
.cus-contact a:first-child,
.pagination-single-inner>h6>a:hover span.title,
.explug-masonry .bottom-meta-wrap .post-meta li.post-share-wrap .social-share a:hover i,
.post-share-wrap ul.social-share>li>a:hover>i,
.team-style-classic-pro .team-designation,
.pricing-style-classic.pricing-table-wrapper ul>li:after,
.explug-masonry .bottom-meta-wrap .post-meta .post-more a,
.widget-content-bx a i,
.elementor-widget-ceaposts .blog-inner .read-more:hover:after,
.blog .explug-masonry .post-meta .post-more a:hover:after,
.explug-masonry .bottom-meta-wrap .post-meta .post-more a:hover:after,
.widget-area-left .contact-widget-info>p a:hover,
.widget-area-right .contact-widget-info>p a:hover,
.testimonial-style-default .testimonial-inner::after,
i.breadcrumb-delimiter,
.sticky-head.header-sticky .header-navbar a.h-phone:hover,
.shop_table.cart td.product-price .amount,
.shop_table.cart td.product-subtotal .amount,
.elementor-widget-ceaposts .blog-inner .read-more:after,
.section-title-wrapper .title-wrap>*.sub-title:before,
.insta-footer-wrap .sub-title:before,
.single-cea-team .team-social-wrap ul.social-icons>li>a i,
.widget-service-icon i.widget-icon,
.sidebar-broucher .icon-box a,
.contact-widget-info>p a:hover,
ul.mobile-menu li.menu-item-has-children>span.down-arrow:after,
ul.mobile-menu li.menu-item-has-children>span.up-arrow:after,
.entry-content p.wp-block-tag-cloud a.tag-cloud-link:hover,
.woocommerce ul.products li.product:hover .woocommerce-loop-product__title,
.woocommerce div ul.products li.product .price,
.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce-checkout .woocommerce-checkout-review-order .cart-subtotal .woocommerce-Price-amount.amount,
.woocommerce table.shop_table td,
.product_meta>span a:hover,
.full-search-wrapper .search-form .input-group .btn,
.secondary-bar-inner a.secondary-menu-toggle.active:before,
.insta-footer-wrap .sub-title,
.service-inner .read-more:after,
.contact-widget-info>p>span.bi,
.page-title-wrap:after,
.zozo_social_widget ul.nav.social-icons>li>a,
.timeline>li>.timeline-sep-title {
    color: #84c951
}

.widget.widget_nav_menu li a:before,
.explug-masonry .bottom-meta-wrap .post-meta li.post-share-wrap .social-share a:hover,
.single-post ul.social-share>li>a:hover,
.post-share-wrap ul.social-share>li>a,
ul .secondary-toggle-wrapper a.explug-toggle {
    color: #84c951 !important
}

blockquote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-large:not(.is-style-plain),
.wp-block-quote.has-text-align-right,
.wp-block-quote,
.woocommerce-message,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.contact-form-wrapper span.wpcf7-form-control-wrap input:focus,
.contact-form-wrapper span.wpcf7-form-control-wrap select:focus,
.contact-form-wrapper span.wpcf7-form-control-wrap textarea:focus,
.single-post .comments-wrapper.section-inner input:focus,
.single-post .comments-wrapper.section-inner textarea:focus,
.modal-popup-body input.wpcf7-form-control:focus,
.modal-popup-body textarea.wpcf7-form-control:focus,
.wp-block-search__input:focus,
footer .mailchimp-wrapper .input-group input#zozo-mc-email:focus,
.single-cea-testimonial .testimonial-info img,
.cus-float-img .float-parallax img,
.comments-wrapper.section-inner input:focus,
.comments-wrapper.section-inner textarea:focus,
ul.nav.pagination.post-pagination>li>a,
ul.nav.pagination.post-pagination>li>span,
.comments-pagination.pagination .page-numbers,
.team-wrapper.team-style-default .team-inner>.post-thumb img.img-fluid.rounded-circle,
.testimonial-wrapper.testimonial-style-list .post-thumb img,
.timeline>li:hover .timeline-panel,
nav.post-nav-links .post-page-numbers,
a.mobile-menu-toggle>span,
a.explug-toggle>span,
.header-navbar.navbar .wp-menu li>ul.sub-menu li a:before,
.elementor-widget-ceaposts .blog-inner .read-more:before,
.service-inner .read-more:before,
.section-title-wrapper .title-wrap>*.sub-title:after,
.insta-footer-wrap .sub-title:after,
.owl-carousel button.owl-dot,
.text-left .feature-box-classic .feature-box-title:before,
.timeline>li>.timeline-sep-title:before,
.single-cea-team .team-social-wrap ul.social-icons>li>a,
.single-cea-team .team-info>*.team-title span.team-designation:before,
.portfolio-style-default .portfolio-inner .post-thumb:before,
.woocommerce-cart table.cart td.actions .coupon .input-text:focus,
form.form-inline.search-form .input-group>*.form-control:focus,
.header-navbar.navbar .wp-menu li>ul.sub-menu li a:before,
a.mobile-menu-toggle>span,
a.explug-toggle>span {
    border-color: #84c951
}

.testimonial-wrapper.testimonial-style-default .owl-item .testimonial-inner,
.full-search-wrapper form.form-inline.search-form .form-control:focus {
    border-bottom-color: #84c951
}

.timeline:before {
    border-right-color: #84c951
}

.timeline>li:hover>.timeline-panel:after {
    border-left-color: #84c951;
    border-right-color: #84c951
}

.cea-counter-wrapper.cea-counter-style-modern .counter-value>*,
.pricing-style-classic .pricing-table-info>*.price-text span {
    -webkit-text-stroke: 1px #84c951
}

.secondary-color {
    color: #1A1919
}

.secondary-bg,
.woocommerce ul.products li.product .button:hover {
    background-color: #1A1919
}

.close:hover,
.team-style-classic-pro .team-social-wrap ul.social-icons>li>a:hover,
header a.btn.btn-primary:hover,
.search-form .input-group .btn:hover,
.service-style-classic-pro .service-inner:hover .post-details-outer .service-icon-img-wrap {
    background-color: #1A1919
}

.custom-post-nav a:hover {
    background-color: #1A1919 !important
}

.single .row.team::before {
    background-image: url(https://wordpress.zozothemes.com/explug/wp-content/themes/explug/assets/images/lawyer-ties.png)
}

.feature-box-wrapper.feature-box-classic .fbox-number:after {
    background-image: url(wp-content/themes/explug/assets/images/process-plug.png)
}

header.explug-page-header:before {
    background-image: url(wp-content/themes/explug/assets/images/page-title-map.png);
}

.cus-testimonial-page .testimonial-wrapper.testimonial-style-list .testimonial-inner .post-excerpt::before {
    background-image: url(https://wordpress.zozothemes.com/explug/wp-content/themes/explug/assets/images/left-quote-1.png)
}

.btn,
button,
.back-to-top,
.header-navbar a.btn.btn-primary,
.widget_search .search-form .input-group .btn,
button.wp-block-search__button,
.btn.bordered:hover,
.close,
button.wp-block-search__button,
ul.nav.pagination.post-pagination>li>span,
.comment-respond input[type="submit"],
.wp-block-button__link,
input[type="submit"],
.button.button-primary,
input[type=button],
input[type="submit"],
header .mini-cart-dropdown ul.cart-dropdown-menu>li.mini-view-cart a,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.zozo-woo-compare-ajax.zozo-btn,
.mini-view-wishlist a,
.mini-view-cart a,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
a.zozo-compare-close,
a.zozo-sticky-cart-close,
a.zozo-sticky-wishlist-close {
    color: #ffffff;
    background-color: #84c951;
    border-color: rgb(132, 201, 81)
}

.btn:hover,
button:hover,
.post-category a:hover,
.back-to-top:hover,
.header-navbar a.btn.btn-primary:hover,
.widget_search .search-form .input-group .btn:hover,
button.wp-block-search__button:hover,
.btn:focus,
button:focus,
.post-category a:focus,
.back-to-top:focus,
.header-navbar a.btn.btn-primary:focus,
.widget_search .search-form .input-group .btn:focus,
button.wp-block-search__button:focus,
.btn:active,
button:active,
.post-category a:active,
.back-to-top:active,
.header-navbar a.btn.btn-primary:active,
.widget_search .search-form .input-group .btn:active,
button.wp-block-search__button:active,
.contact-form-wrapper input.wpcf7-form-control.wpcf7-submit:hover,
input[type="submit"]:hover,
header .mini-cart-dropdown ul.cart-dropdown-menu>li.mini-view-cart a:hover,
nav.post-nav-links .post-page-numbers:hover,
.wp-block-button__link:hover,
.wp-block-button.is-style-outline a.wp-block-button__link:hover,
.pagination-single-inner>h6>a span.arrow:hover,
ul.nav.pagination.post-pagination>li>a:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
a.zozo-woo-compare-ajax.zozo-btn:hover,
.mini-view-wishlist a:hover,
.mini-view-cart a:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover,
a.zozo-compare-close:hover,
a.zozo-sticky-cart-close:hover,
a.zozo-sticky-wishlist-close:hover {
    color: #ffffff;
    background-color: #1a1919;
    border-color: rgb(26, 25, 25)
}

.header-topbar a {
    color: #1a1919
}

.header-topbar a:hover {
    color: #84c951
}

.header-topbar a:active,
.header-topbar a:focus,
a:active,
a:focus {
    color: #84c951
}

.explug-content-wrap {
    padding-top: 120px;
    padding-bottom: 120px
}

@media only screen and (max-width:1024px) {
    .header-mobilebar {
        display: flex
    }

    .site-header {
        display: none
    }
}

@media only screen and (min-width:1025px) {
    .site-header {
        display: block
    }

    .header-mobilebar {
        display: none
    }
}



body {
    color: #797979;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px
}

.lead {
    font-family: DM Sans
}

h1,
.h1 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 52px;
    line-height: 58px
}

h2,
.h2 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px
}

h3,
.h3 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px
}

h4,
.h4 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px
}

h5,
.h5 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px
}

h6,
.h6 {
    color: #1A1919;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px
}

.site-header {
    font-family: DM Sans
}

.site-header {
    border-top-width: 2px;
    border-top-style: none;
    border-right-width: 2px;
    border-right-style: none;
    border-bottom-width: 2px;
    border-bottom-style: none;
    border-left-width: 2px;
    border-left-style: none
}

.primary-menu .menu-item-has-children ul.sub-menu {
    background-color: rgb(255, 255, 255)
}

.primary-menu .menu-item-has-children ul.sub-menu li a {
    color: #1A1919
}

.primary-menu .menu-item-has-children ul.sub-menu li a:hover {
    color: #84c951
}

.primary-menu .menu-item-has-children ul.sub-menu li a:active,
.primary-menu li.current-menu-parent>ul.sub-menu>li.current-menu-item>a,
.primary-menu li.current-menu-parent>ul.sub-menu>li.current-menu-ancestor.current-menu-item>a,
ul.wp-menu ul.sub-menu li.menu-item.current-menu-ancestor.menu-item-has-children>a {
    color: #84c951
}

.header-topbar {
    font-weight: 400;
    font-size: 15px
}

.header-topbar {
    line-height: 55px
}

.header-topbar {
    background-color: rgb(252, 241, 241)
}

.header-topbar {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: rgba(10, 10, 10, 0.2)
}

.header-topbar a {
    color: #14212a
}

.header-topbar a:hover {
    color: #84c951
}

.header-topbar a:active,
.header-topbar ul.wp-menu>li.current-menu-item>a,
.header-topbar ul.nav.wp-menu>li.menu-item-has-children.current_page_parent>a,
.header-topbar ul.nav.wp-menu>li.menu-item-has-children.current-menu-ancestor>a {
    color: #84c951
}

.header-logobar {
    line-height: 120px
}

.header-logobar {
    background-color: rgba(255, 255, 255, 0)
}

.header-logobar {
    padding-top: 0;
    padding-bottom: 0
}

.header-navbar {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.header-navbar {
    line-height: 97px
}

.header-sticky .header-navbar {
    line-height: 80px
}

.header-navbar {
    background-color: rgba(255, 255, 255, 0)
}

.header-navbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(10, 10, 10, 0.06)
}

.header-navbar a {
    color: #1a1919
}

.header-navbar a:hover {
    color: #84c951
}

.header-navbar a:active,
.header-navbar ul.wp-menu>li.current-menu-item>a,
.header-navbar ul.nav.wp-menu>li.menu-item-has-children.current-menu-ancestor>a {
    color: #84c951
}

.sticky-head.header-sticky .header-navbar {
    background-color: rgb(255, 255, 255)
}

.sticky-head.header-sticky .header-navbar a {
    color: #1A1919
}

.sticky-head.header-sticky .header-navbar a:hover {
    color: #84c951
}

.sticky-head.header-sticky .header-navbar a:active,
.sticky-head.header-sticky .header-navbar ul.wp-menu>li.current-menu-item>a,
.sticky-head.header-sticky .header-navbar ul.nav.wp-menu>li.menu-item-has-children.current-menu-ancestor>a,
.sticky-head.header-sticky .header-navbar a.active {
    color: #84c951
}

img.site-logo {
    max-width: 174px
}

img.sticky-logo {
    max-width: 164px
}

img.mobile-logo {
    max-width: 180px
}

.blog .page-title-wrap .page-title,
.blog .page-title-wrap .breadcrumb li {
    color: #1a1919
}

.blog .page-title-wrap .page-subtitle {
    color: #797979
}

.blog .page-title-wrap .breadcrumb a {
    color: #1a1919
}

.blog .page-title-wrap .breadcrumb a:hover {
    color: #84c951
}

.blog .page-title-wrap .breadcrumb a:active {
    color: #84c951
}

.blog .explug-page-header {
    background-color: rgb(239, 244, 246);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.blog .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 80px
}

.archive .page-title-wrap .page-title,
.archive .page-title-wrap .breadcrumb li,
.search .page-title-wrap .page-title,
.search .page-title-wrap .breadcrumb li {
    color: #1a1919
}

.archive .page-title-wrap .page-subtitle,
.search .page-title-wrap .page-subtitle {
    color: #797979
}

.archive .page-title-wrap .breadcrumb a,
.search .page-title-wrap .breadcrumb a {
    color: #1a1919
}

.archive .page-title-wrap .breadcrumb a:hover,
.search .page-title-wrap .breadcrumb a:hover {
    color: #84c951
}

.archive .page-title-wrap .breadcrumb a:active,
.search .page-title-wrap .breadcrumb a:active {
    color: #84c951
}

.archive .explug-page-header,
.search .explug-page-header {
    background-color: rgb(239, 244, 246);
    background-position: center center;
    background-size: cover
}

.archive .page-title-wrap,
.search .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 85px
}

.single-post .page-title-wrap .page-title,
.single-post .page-title-wrap .breadcrumb li {
    color: #1a1919
}

.single-post .page-title-wrap .page-subtitle {
    color: #797979
}

.single-post .page-title-wrap .breadcrumb a {
    color: #1a1919
}

.single-post .page-title-wrap .breadcrumb a:hover {
    color: #84c951
}

.single-post .page-title-wrap .breadcrumb a:active {
    color: #84c951
}

.single-post .explug-page-header {
    background-color: rgb(239, 244, 246);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.single-post .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.page .page-title-wrap .page-title,
.error404 .page-title-wrap .page-title {
    color: #1a1919
}

.page .page-title-wrap .page-subtitle,
.error404 .page-title-wrap .page-subtitle,
.page .page-title-wrap .breadcrumb li,
.error404 .page-title-wrap .breadcrumb li {
    color: #797979
}

.page .page-title-wrap .breadcrumb a,
.error404 .page-title-wrap .breadcrumb a {
    color: #1a1919
}

.page .page-title-wrap .breadcrumb a:hover,
.error404 .page-title-wrap .breadcrumb a:hover {
    color: #84c951
}

.page .page-title-wrap .breadcrumb a:active,
.error404 .page-title-wrap .breadcrumb a:active {
    color: #84c951
}

.page .explug-page-header,
.error404 .explug-page-header {
    background-color: rgb(239, 244, 246);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.page .page-title-wrap,
.error404 .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single-product .explug-page-header {
    background-color: rgb(239, 244, 246);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.single-product .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 80px
}

.single[class*="single-cea-"] .page-title-wrap .page-title,
.single[class*="single-cea-"] .page-title-wrap .breadcrumb li {
    color: #1A1919
}

.single[class*="single-cea-"] .page-title-wrap .page-subtitle {
    color: #797979
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a {
    color: #1A1919
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a:hover {
    color: #84c951
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a:active {
    color: #84c951
}

.single[class*="single-cea-"] .explug-page-header {
    background-color: rgb(239, 244, 246)
}

.single[class*="single-cea-"] .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single.single-cea-service .explug-page-header {
    background-color: eff4f6
}

.single.single-cea-service .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single.single-cea-team .explug-page-header {
    background-color: eff4f6
}

.single.single-cea-team .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single.single-cea-testimonial .explug-page-header {
    background-color: eff4f6
}

.single.single-cea-testimonial .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single.single-cea-portfolio .explug-page-header {
    background-color: eff4f6
}

.single.single-cea-portfolio .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.single.single-cea-event .explug-page-header {
    background-color: eff4f6
}

.single.single-cea-event .page-title-wrap {
    padding-top: 170px;
    padding-bottom: 82px
}

.site-footer {
    color: #ffffff;
    font-family: DM Sans
}

.site-footer {
    background-repeat: no-repeat;
    background-position: center center
}

.site-footer {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0
}

.insta-footer-wrap {
    color: #ffffff;
    font-family: DM Sans
}

.insta-footer-wrap {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover
}

.insta-footer-wrap {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
}

.insta-footer-wrap {
    border-bottom-width: 0;
    border-bottom-style: none
}

.insta-footer-wrap a {
    color: #ffffff
}

.insta-footer-wrap a:hover {
    color: #84c951
}

.insta-footer-wrap a:active {
    color: #84c951
}

.footer-widgets-wrap {
    color: #c5c5c5;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 30px
}

.footer-widgets-wrap {
    background-color: rgb(26, 25, 25);
    background-image: url(wp-content/uploads/sites/10/2023/08/footer-bg-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.footer-widgets-wrap {
    padding-top: 140px;
    padding-bottom: 70px
}

.footer-widgets-wrap {
    margin-top: -60px
}

.footer-widgets-wrap {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.07);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.07)
}

.footer-widgets-wrap a {
    color: #c5c5c5
}

.footer-widgets-wrap a:hover {
    color: #84c951
}

.footer-widgets-wrap a:active {
    color: #84c951
}

.footer-bottom-wrap {
    color: #c5c5c5;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 30px
}

.footer-bottom-wrap {
    background-color: rgb(26, 25, 25)
}

.footer-bottom-wrap {
    padding-top: 25px;
    padding-bottom: 25px
}

.footer-bottom-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0
}

.footer-bottom-wrap a {
    color: #84c951
}

.footer-bottom-wrap a:hover {
    color: #ffffff
}

.footer-bottom-wrap a:active {
    color: #ffffff
}

.page-load-initiate .page-loader:before,
.page-load-end .page-loader:before,
.page-load-initiate .page-loader:after,
.page-load-end .page-loader:after {
    background: linear-gradient(90deg, #84c951 0, #1A1919 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1A1919), to(#84c951));
    background: -webkit-linear-gradient(left, #1A1919 0, #84c951 100%);
    background: -o-linear-gradient(left, #1A1919 0, #84c951 100%);
    background: linear-gradient(to right, #1A1919 0, #84c951 100%)
}

.secondary-bar-inner {
    width: 450px
}

.secondary-bar-wrapper.from-left .secondary-bar-inner {
    left: -450px
}

.secondary-bar-wrapper.from-right .secondary-bar-inner {
    right: -450px
}

/* Explug Post Options Styles */
.explug-content-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
}






.header-navbar {
    background-color: rgba(239, 244, 246, 0);





}

.header-navbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(10, 10, 10, 0.06);
}